modules = ["python-3.11"]
[agent]
expertMode = true
integrations = ["python_gemini_ai_integrations:1.0.0"]

[nix]
channel = "stable-25_05"
packages = ["cacert", "cargo", "ffmpeg-full", "glibcLocales", "libffi", "libiconv", "libxcrypt", "openssl", "pkg-config", "rustc"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Status Check"

[[workflows.workflow]]
name = "Status Check"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python status.py"

[workflows.workflow.metadata]
outputType = "console"

[userenv]

[userenv.shared]
PAYMENT_CARD_NUMBER = "4177 4901 1819 6304"
PAYMENT_RECIPIENT = "МУЗАПАРОВ МУЗАФФАР ШЕРЗОДОВИЧ"
PAYMENT_INN = "22908199900907"
PAYMENT_ACCOUNT = "1030220226371390"
PAYMENT_BANK_NAME = "ОАО \"Мбанк\""
PAYMENT_BANK_ADDRESS = "Кыргызская Республика, г. Бишкек, ул. Горького, 1/2"
PAYMENT_BIK = "103002"
PAYMENT_BANK_INN = "02712199110068"
